.cart-page{

padding:100px 0;

background:#FFF8F2;

min-height:100vh;

}

.cart-title{

margin-bottom:40px;

font-size:42px;

}

.cart-item{

display:grid;

grid-template-columns:140px 1fr auto auto auto;

gap:30px;

align-items:center;

background:white;

padding:20px;

margin-bottom:25px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.cart-item img{

width:120px;

height:120px;

object-fit:cover;

border-radius:15px;

}

.cart-info h2{

margin-bottom:10px;

}

.quantity-box{

display:flex;

gap:15px;

align-items:center;

}

.quantity-box button{

width:38px;

height:38px;

border-radius:8px;

background:#D62828;

color:white;

}

.delete-btn{

background:none;

font-size:22px;

color:red;

}

.cart-total{

margin-top:50px;

display:flex;

justify-content:space-between;

align-items:center;

}

.checkout-btn{

padding:15px 30px;

background:#D62828;

color:white;

border-radius:10px;

font-weight:bold;

}

.shop-btn{

margin-top:25px;

display:inline-block;

padding:15px 30px;

background:#D62828;

color:white;

border-radius:10px;

}

.empty-cart{

text-align:center;

padding:100px 0;

}

@media(max-width:900px){

.cart-item{

grid-template-columns:1fr;

text-align:center;

}

.cart-item img{

margin:auto;

}

.cart-total{

flex-direction:column;

gap:20px;

}

}