.success-page{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#FFF8F2;

text-align:center;

}

.success-icon{

font-size:120px;

color:#28a745;

margin-bottom:25px;

animation:pop .8s;

}

@keyframes pop{

0%{

transform:scale(.3);

opacity:0;

}

100%{

transform:scale(1);

opacity:1;

}

}

.success-page h1{

font-size:45px;

margin-bottom:15px;

}

.success-page p{

font-size:20px;

margin-bottom:35px;

color:#666;

}

.home-btn{

padding:15px 35px;

background:#D62828;

color:white;

border-radius:10px;

font-weight:bold;

}